:root{
    --primary-color:#6c63ff;
    --color-success:#00bf8e;
    --color-warning:#f7c94b;
    --color-danger:#f75842;
    --color-danger-variant:rgba(247.88,66,0.4);
    --color-white:#fff;
    --color-black:#000;
    --color-bg:#1f2641;
    --color-bg1:#2e3267;
    --color-bg2:#424890;
    --color-light:rgba(255,255,255,0.7);

    --container-width-lg:80%;
    --container-width-md:90%;
    --container-width-sm:94%;

    --transition:all 400ms ease;
}
.contact_container{
    background-color: var(--color-bg1);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 28rem;
    margin: 3rem auto;
    border-radius: 1rem;
}

/* Aside */
.contact_aside{
    background: var(--primary-color);
    border-radius: 1rem;
    position: relative;
    bottom:8rem;
    padding: 2rem;
}
.aside_image{
    width: 12rem;
    margin-bottom: 1.5rem;
}
.contact_aside h2{
    text-align: left;
    margin-bottom: 0.5rem;
}
.contact_aside p{
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}
.contact_details li{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 0.5rem;
}
.contact_details li h5{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.contact_socials{
    display: flex;
    gap: 0.8rem;
    margin-top: 2rem;
}
.contact_socials a{
    background-color: var(--color-bg2);
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 0.9rem;
    transition: var(--transition);
}
.contact_socials a:hover{
    background-color: transparent;
}

/* form */

.contact_form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
}
.form_name{
    display: flex;
    gap: 1.2rem;
}
.contact_form input[type="text"]{
    width: 50%;
}
.contact_form input,textarea{
    width: 100%;
    padding: 1rem;
    background-color: var(--color-bg);
    color: var(--color-white);
    resize: none;
}
.contact_form button{
    width: max-content;
    cursor: pointer;
    margin-top: 1rem;
}

/* Media Queries for Tablets */
@media screen and (max-width:1024px) {
    .contact_container{
        gap: 1.5rem;
        margin-top: 3rem;
        height: auto;
        padding: 1.5rem;
    }
    .contact_aside{
        bottom:0;
        width: auto;
        padding: 1.5rem;
    }
}
/* Media Queries for Phones */
@media screen and (max-width:700px) {
    .contact_container{
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top:1rem;
        height: auto;
        padding:0;
    }
    .contact_form{
        margin: 0 1.5rem 3rem;
    }
    .contact_aside{
        bottom:0;
        width: auto;
        padding: 0.8rem;
        width: 100%;
    }
    .form_name{
        flex-direction: column;
    }
    .form_name input[type="text"]{
        width: 100%;
    }
}